body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff3e6;
}

header {
    background-color: #2956d3;
    color: white;
    text-align: center;
    padding: 20px;
}

.catalogo {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.producto {
    background: white;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #5d73ef;
    color: white;
    text-align: center;
    padding: 15px;
}